@font-face {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: "Inter";
  user-select: none;
}

.slider {
  -webkit-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  margin-left: -248px;
  height: 2px;
  background-color: #ffffff22;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#slider1 {
  z-index: 1;
}

#slider1::-webkit-slider-thumb {
  background-color: #ff0000;
}

#slider2::-webkit-slider-thumb {
  background-color: #00ff00;
}

#slider3::-webkit-slider-thumb {
  background-color: #ffff00;
}

#slider4::-webkit-slider-thumb {
  background-color: #0000ff;
}

#jupiter {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #efa34e;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
}

.moonSelector {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  border-radius: 5px;
  border: none;
}

#moonSelector1 {
  background-color: #ff0000;
}

#moonSelector2 {
  background-color: #004400;
}

#moonSelector3 {
  background-color: #444400;
}

#moonSelector4 {
  background-color: #000044;
}

#moonSelectors {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#dateTimeInput, #ui button, #timeAhead {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

#timeAhead {
  width: 50px;
}

#dateTimeInput {
  position: absolute;
  left: 50%;
  top: 60%;
  color: transparent;
  width: 29px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#saveFrame:hover, #calculate:hover, #reset:hover {
  background-color: #dddddd;
}

#framesList {
  position: absolute;
  display: block;
  right: 0px;
  top: 20px;
  width: 25%;
  height: 100%;
  text-align: right;
  margin-right: 10px;
}

#framesList span {
  text-decoration: none;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  position: relative;
  top: 10px;
  width: 50%;
  margin-top: 0px;
}

#framesText, #hoursAhead {
  color: #ffffff;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ui {
  width: 50%;
}